
/*Sets the basic styles acroos all pages, including colors and the font*/
:root {
    --bg-color: #FCF9EC;
    --fnt-fam: Georgia, serif;
    --dark-text-col: #000000;
    --light-text-col: #faf3df;
    --bg-almost-white: rgb(250, 252, 255);
    --bg-footer: #111827;
    --gldn-accent: #f9c95b;
}

/*Divides the header into 2 section: one for logo, one for navigation; applies styles such as bottom border for more separation*/
header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-almost-white);
    border-bottom: 3px solid var(--gldn-accent);    
}





/*Styles the h1 to have a gold gradient*/
h1 {
    background-image: linear-gradient(to bottom right, #f9ba27, #090800);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

    



/*Styles img of the logo to be smaller than before*/
.logoAndName img {
    height: 100px;
}

/*Styles the logo and name to be side by side with some extra spacing*/
.logoAndName a {
    display: grid;
    grid-template-columns: auto auto;
    text-decoration: none;
    align-items: center;
    column-gap: 15px;
    margin-left: 15px;
}

/*Puts the links on one row, wraps them, and adjusts spacing*/
.navLinks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 25px 50px;
    margin-right: 35px;
}

/*Removes link underline, also styles the links to be larger and darker. Adds padding for larger navigation link hit target/box*/
.navLinks a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--dark-text-col);
    padding: 1rem 1.5rem;
}

/*Bolds the navigation links when they're hovered over*/
header nav a:hover {
    font-weight: bold;
}




/*Sets the basic styles for the body, including background, font, text color, and margin*/
body {
    background-color: var(--bg-color);
    font-family: var(--fnt-fam);
    color: var(--dark-text-col);
    margin: 0px;
}





/*Acts as container for the welcome section, centers text, sets section to take up about a third of viewport, adds bottom border, removes overflow from image, and applies lighter text color to message*/
.welcomeSection {
    position: relative;
    text-align: center;
    color: var(--light-text-col);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    overflow: hidden;
    border-bottom: 3px solid var(--gldn-accent);
}

/*Image takes up full width, covers the section, and is absolutely positioned*/
.welcomeSection img {
    width:100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

/*Positions the welcome message in the middle of the image and applies some styles, such as background, padding, and border radius*/
.centeredWelcome {
    position: relative;
    width: 70%;
    background-color: rgba(17, 24, 39, 0.85);
    padding: 1px 15px;
    border-radius: 3rem;
    }

/*Gives h2 a larger font size*/
.centeredWelcome h2 {
    font-size: 2rem;
}

/*Gives h3 golden accent color and increases font*/
.centeredWelcome h3 {
    color: var(--gldn-accent);
    font-size: 1.3rem;
}

/*Sets the font size for paragraphs to 18px, or 1.125rem instead of the standard 16px*/
p {font-size: 1.125rem;}

/*Adds consistent padding to the left and right*/
 .leftRightPadding {
    padding-left: 20px;
    padding-right: 20px;
}

/*Helps center the contact information on the page*/
#contactBannerInfo {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Makes the spans inside of the address bold*/
address span {
    font-weight: bold;
}





/*Styles the banner with a gradient background, helps center the text on the gradient, sets height viewpoint, and applies padding for better spacing*/
.gradientBanner {
    background: linear-gradient(to right, #DA8F2A, #f9c95b, #EDCDA3);
    position: relative;
    text-align: center;
    height: 18vh;
    padding: 4rem;
    
}

/*Styles the promotion box to be centered in the banner, applies background color, border, and padding*/
.promotion {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #f9f4dd;
    border-radius: 10rem;
    padding: 1.1rem;
    border: 3px solid var(--gldn-accent);
    box-shadow: 0 0 0 5px var(--bg-almost-white);
}

/*Increases h2 font size in the promotion section and decreases the margin to 0.5 rem*/
.promotion h2 {
    font-size: 1.7rem;
    margin: 0.5rem;
}

/*Bolds p text in the promotion section and decreases the margin to 0.5 rem*/
.promotion p {
    font-weight: 600;
    margin: 0.5rem;
}

/*removes the margin*/
.noMargin {
    margin: 0px;
}

/*Styles the percent off text to be larger, red, and have a golden text shadow for more attention*/
#percentOff {
    color: red;
    font-size: 3.2rem;
    margin: 0px;
    text-shadow: 
        1px 1px 5px var(--gldn-accent),
        -1px 1px 5px var(--gldn-accent),
        -1px -1px 5px var(--gldn-accent),
        1px -1px 5px var(--gldn-accent);
}

/*Styles header sections to be centered, have padding, and remove margins*/
.centeredHeadings {
    text-align: center;
    padding: 15px 75px;
    margin:0px;
}

/*Styles header sections to have a black background and light text color*/
.whiteHeadings {
    color: var(--light-text-col);
    background-color: #000000;
}

/*Styles the reviews section to have padding, margin, background color, border around reviews, adds some font styles, centers the reviews, and gives rounded edges*/
.reviewsSection p {
    background-color: var(--bg-almost-white);
    border: 5px solid var(--gldn-accent);
    width: 70%;
    margin: 0px auto;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 5%;
    line-height: 1.7rem;
    text-align: center;
}





/*Applies a black background with some padding and center alignment on page.*/
.blackBg {
    background-color: #000000;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

/*Styles the contact us section to have a gold accent background, rounded edges, centered text, padding, and be centered*/
.contactTodayWithNumber {
    background-color: var(--gldn-accent);
    border-radius: 5rem;
    width: fit-content;
    padding: 10px 25px;
    margin: auto;
}

/*Styles the paragraph and link in the contact us section to be bold, dark text color, no underline, larger font size, and some margin*/
.contactTodayWithNumber p, .contactTodayWithNumber a, .blackBg a {
    color: var(--dark-text-col);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 3px;
}

/*Changes the link color on hover to red for more attention*/
.contactTodayWithNumber a:hover, .blackBg a:hover, .promotion a:hover {
    color: red;
}       






/*Applies golden accent color background, removes margins, adds padding, and bolds text*/
.goldBg {
    background-color: var(--gldn-accent);
    margin: 0px;
    padding: 20px;
    font-weight: bold;
}

/*Applies golden accent to text; specifically, to the navigation links and by adding background and increasing the font-size for better readability*/
.navLinks .goldAcntTxt {
    background-color: var(--bg-footer);
    border-radius: 3rem;
    padding: 0.7rem 1.5rem;
    color: var(--gldn-accent);
    letter-spacing: 1px;
    font-size: 1.8rem;
}

/*Applies a little more space between list items*/
.goldBg li {
    padding-bottom: 5px;
}





/*Styles the details element so that cursor becomes a pointer when hovered over, also styles the border, margin, and padding to improve readability*/
details {
    cursor: pointer;
    border-radius: 15px;
    margin-left: 20px;
    margin: 20px 20px;
    background-color: var(--bg-almost-white);
    border: 3px solid var(--gldn-accent);
    padding: 10px 10px;
}

/*Increases line height for packages and services text*/
details p {
    line-height: 1.6rem;
}

/*Makes the summary text bigger and bolder*/
summary {
    font-size: 1.25rem;
    font-weight: bold;
}

/*Makes links black and with gives a golden background with some padding and radius adjustments*/
details a {
    color: var(--dark-text-col);
    background-color: var(--gldn-accent);
    padding: 3px;
    border-radius: 15px;
}

/*Bolds, makes text lighter, then adds background color and padding to the term "Deep Cleaning Package"*/
.deepCleanPack {
    font-weight: bold;
    padding: 3px;
    color: var(--light-text-col);
    background-color: var(--bg-footer);
    border-radius: 3rem;
    padding: 0.3rem 1rem;
}





/*Divides the grid into three columns and adds spacing with width restrictions*/
.contactGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 50px;
    max-width: 90%;
}

/*Limits the width of the message box*/
textarea {
    max-width: 90%;
}

/*Puts labels on top of the form spaces, increases font, and makes the text bold*/
label {
    display: block;
    margin-bottom: 5px;
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 1.125rem;
}

/*Changes the font family, padding, and border to use the golden accent color for the textaarea, inputs, and drop down select*/
textarea, input, select {
    width: 100%;
    border: 2px solid var(--gldn-accent);
    font-family: var(--fnt-fam);
    font-size: 1.125rem;
    padding: 0.5rem;
}

/*Styles the send message button in terms of size, color, and margin to match color scheme and layout*/
input[type="submit"] {
    background-color: var(--gldn-accent);
    color: var(--dark-text-col);
    font-weight: bold;
    cursor: pointer;
    width: 10rem;
    border: 2px solid var(--dark-text-col);
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/*Changes the send in size and color—from light to dark when hovered over—and adds a pointer*/
input[type="submit"]:hover {
    background-color: var(--dark-text-col);
    color: var(--light-text-col);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--dark-text-col);
    border-radius: 15px;
}





/*Establishes a two colum grid. Image of owner is on the left, and information about her is on the right. There is some margin spacing to help with layot*/
#ownerSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 3%;
    justify-items: center;
}

/*Gives owner's image a dashed, outlined background with the gold and black accent color and adjusts image size*/
#ownerSection img {
    width: 250px;
    border: 15px dashed var(--gldn-accent);
    box-shadow:
    0 0 0 5px var(--dark-text-col);
    background-color: var(--bg-almost-white);
}

/*Centers and increases size of the text that is above the owner's image*/
 #ownerSection h2 {
    text-align: center;
    font-size: 1.875rem;
}

/*Adds more line height for the 3 owner section p tags for readability*/
#ownerSection p {
    line-height: 1.4rem;
}

/*Lowers the first p tag in "Meet the Owner" section*/
#ownerSection div p:first-child {
    margin-top: 80px;
}

/*Gives the Our Story section additional padding and more line-height distance for readability*/
#ourStory p {
    padding-bottom: 1.3rem;
    line-height: 1.7rem;
}






/*Four column grid for centered gallery photos with gap and margin adjustments for spacing*/
.cleaningGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    margin-bottom: 2rem;
}

/*Image size adjustments for aspect ratio and new border styles. Set's max width so that images are not wider than the device screen*/
.cleaningGallery img {
    max-width: 100%;
    width: 100%;
    aspect-ratio: 180 / 250;
    border: 2px solid var(--gldn-accent);
}






/*Below are styles for the footer across all pages*/
/*Styles the footer to have a dark background and light text, with spacing between WRS and Follow Us*/
footer {
    background-color: var(--bg-footer);
    color: var(--light-text-col);
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

/*Styles the first p tag to have a gold gradient*/
footer p:first-child {
    background-image: linear-gradient(to right, #f9c95b, #fbf9ec);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Adds spacing between the two paragraphs in the footer for better readability*/
footer p + p {
    margin-left: 50px;
}

/*Styles the links in the footer to have light text color and more spacing between them*/
footer a {
    color: var(--light-text-col);
    margin-left: 10px;
    margin-right: 10px;
}

/*Changes the link color on hover to the gold accent color and makes it bolder*/
footer a:hover {
    color: var(--gldn-accent);
    font-weight: bold;
}





/*The below dropAnim animation and keyframes gives a smoother transition when the summary is opened*/
details[open] p {
    animation: dropAnim 0.4s linear forwards;
}

@keyframes dropAnim {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}





/*Adjusts the layout for medium screens*/
@media screen and (min-width: 751px) and (max-width: 1399px){
    /*Header becomes single column with logo in the top left corner and navigation is centered, under the logo.*/
    header {
        display: grid;
        grid-template-columns: 1fr;
    }
    /*Logo in top left corner*/
    .logoAndName {
        justify-self: start;
    }

    /*Adds more spacing between 2nd p tag for the owner section and the other two*/
    #ownerSection div p:nth-child(2) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/*Adjusts the layout for medium/large screens*/
@media screen and (min-width: 1100px) and (max-width: 1399px){
    /*Logo is in the top left corner with navigation to the right of it*/
    header {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}
    



/*Adjusts the layout for smaller screens*/
@media screen and (max-width: 750px) {
    /*Header becomes single column with navigation under logo*/
    header {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /*navigation links and centers them*/
    .navLinks ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    /*Adds more spacing between 2nd p tag for the owner section and the other two*/
    #ownerSection div p:nth-child(2) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    /*Stacks WRS and the Follow Us links*/
    footer {
        flex-direction: column;
        text-align: center;
        row-gap: 10px;
    }

    /*Removes previous left margin*/
    footer p + p {
        margin-left: 0px;
    }

    /*Places image under the message*/
    .welcomeSection img {
        z-index: 1;
    }

    /*Places welcome message above the image background and sets margin to 0 to fit more text*/
    .welcomeSection .centeredWelcome {
        z-index: 2;
        margin: 0px;
    }
    
    /*Removes and edits some previous styling so that the text fits the screen and applies a drop shadow*/
    .centeredWelcome {
        position: static;
        transform: none;
        width: auto;
        margin: 25px;
        background-color: rgba(17, 24, 39, 0.95);
        box-shadow: 5px 5px 10px 3px var(--gldn-accent);
    }

    /*Adjusts the margins so that text covers more of the screen width than before*/
    .reviewsSection p {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    /*When the screensize is smaller, there is only 1 form colum and added margins*/
     .contactGrid {
        grid-template-columns: auto;
        margin: 1rem;
    }
    
    
    /*Smaller screen sizes get one column instead of two. Top features owner's image and below is information about her*/
    #ownerSection {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    

    /*Smaller screen sizes get two columns instead of four for displaying cleaning images*/
    .cleaningGallery {
        grid-template-columns: 1fr 1fr;
    }

    /*Smaller screens have the promtion take up 75% of width*/
    .promotion {
        width: 70%;
    }

    /*Adjusted veiwport height to be a bit more on smaller screens*/
    .gradientBanner {
        height: 20vh;
    }

    /*Adusts padding so more text fits across on smaller devices than before*/
    .centeredHeadings {
        padding: 5%;
    }

    /*Keeps both reviews, when on one column, centered with extra bottom margin and makes them take up 85% of width*/
    .reviewsSection p {
        max-width: 85%;
        margin: 0px auto;
        margin-bottom: 5%;
    }
}





/*Adjusts the layout for larger screen sizes*/
@media screen and (min-width: 1400px) {
    /*Makes images a little smaller and adds bottom margin*/
    .cleaningGallery img {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    /*Makes gallery 5 columns*/
    .cleaningGallery {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    /*Gives more padding for the heading above the pictures*/
    #communityHelp {
        padding: 1.5rem 1rem;
    }

    /*Makes owner picture larger and take up full width*/
    #ownerSection img {
        width: 100%;
    }

    /*Sets a 4 column grid and adds a larger gap between the owner's image and the three paragraphs*/
    #ownerSection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5rem;
    }

    /*Takes the div with the 3 p tags and places 1 p tag into the 2nd, 3rd, and 4th column*/
    #ownerSection > div:last-child {
        display: contents;
    }

    /*Gives more vertical spacing between paragraph tags to increase readability*/
    #ownerSection p {
        line-height: 1.7rem;
    }

    /*Lowers the three p tags in "Meet the Owner" section*/
    #ownerSection div p {
        margin-top: 80px;
    }

    /*Puts the 4 p tags into 4 columns for the our story section and fixes padding*/
    #ourStory {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    /*Adds a black vertical line between the 4 colums in the our story section with padding*/
    #ourStory p:nth-child(-n+3) {
        border-right: 2px solid var(--bg-footer);
        padding-right: 3.5rem;
    }

    /*Limits width of content and centers it*/
    .leftRightPadding {
        max-width: 70%;
        margin: 0px auto;
    }

    /*Centers cleaning preparation section and gives it border styling as well as spacing adjustments*/
    #cleaningPrep {
        max-width: 630px;
        margin: 0px auto;
        padding: 1.5rem;
        border: 7px solid var(--bg-footer);
        border-radius: 3rem;
        background-color: var(--light-text-col);
    }

    /*Make the promotion section tighter for more emphasis on it*/
    .promotion {
        max-width: 30%;
    }

    /*Restricts width of welcome message section*/
    .centeredWelcome {
        max-width: 45%;
    }

    /*Turns into 2 column grid for the reviews with spacing and width adjustments*/
    #bothReviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        max-width: 55%;
        margin: 1rem auto;
    }

    /*Makes second review section as tall as the first one*/
    #bothReviews blockquote {
        display: flex;
    }

    /*Makes both reviews take up full width of its grid cell*/
    #bothReviews p {
        width: 100%;
    }
}


